name: CI - Build .NET & Docker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore WebAPICRUD/WebAPICRUD.csproj

      - name: Build project
        run: dotnet build --no-restore --configuration Release

      - name: Docker build
        run: docker build -t myapi-ci .
